/**************************
General
**************************/

* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

h1 {
  text-transform: uppercase;
}

legend {
  font-size: 1.2em;
}

p,
label {
  color: rgb(161, 161, 161);
}

/**************************
Header
**************************/

header {
  background-color: #2D3945;
  text-align: center;
}

h1 {
  color: white;
  font-size: 1.3em;
  padding: 1em;
  margin: 0;
}

/**************************
Container
**************************/

.container {
  max-width: 95%;
  margin: 0 auto;
}

/**************************
Tagline
**************************/

.tagline {
  text-align: center;
  border-bottom: solid;
}

/**************************
Form
**************************/

.form {
  border-top-style: solid;
  border-width: thin;
  margin-top: 0.15em;
}

.contact-information {
  border-bottom-style: solid;
}

.newsletter {
  margin-bottom: 2em;
}

legend {
  float: left;
  width: 100%;
  margin: 1em 0;
}

fieldset {
  border: none;
  padding: 0;
}

input,
select {
  display: block;
  margin: 1em 0;
}

input,
select,
textarea {
  width: 100%;
  padding: 1em;
  background-color: #EFF0F1;
  border: none;
  border-radius: 5px;
}

textarea {
  height: 7em;
}

input {
  box-shadow: none;
}

input:focus {
  outline-color: #2D3945;
  background-color: #528ecb;
  transition: 1s;
}

input::placeholder {
  text-align: right;
  font-size: 0.8em;
  font-style: italic;
}

input:focus::placeholder {
  color: white;
}

select {
  height: 3.5em;
}

select:invalid {
  color: lightgrey;
}

#zip {
  width: 50%;
}

.newsletter-inputs {
  display: block;
}

.newsletter-input-section-headings {
  display: block;
  margin-top: 1.2em;
  margin-bottom: 1em;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  width: auto;
  margin-right: 1em;
}

button {
  width: 100%;
  height: 3em;
  background-color: #4EBBB5;
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
}

/**************************
Footer
**************************/

footer {
  text-align: center;
  font-style: italic;
  color: lightgrey;
  margin: 2em;
}

/**************************
Media
**************************/

@media (min-width: 768px) {

  .container {
    max-width: 50%;
    margin: 0 auto;
  }

  .form {
    border-top-style: solid;
    border-width: thin;
    margin-top: 0.15em;
  }

  .contact-information-inputs {
    display: block;
  }

  .contact-information input,
  .contact-information select,
  .contact-information label {
    display: inline-block;
  }

  .contact-information input,
  .contact-information select {
    width: 69%;
  }

  .contact-information label {
    width: 30%;
    margin-right: -4px;
  }

  #zip {
    width: 30%;
  }

}
